/* Footer.css */

/* Style général pour le composant de footer */
.footer {
  background-color: #EDEBEB;
  color: #2B2E4A;
  padding: 20px 20px;
  margin-top: 10em;
  bottom: 0;
}

/* Style pour le contenu du footer */
.footer-content {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style commun pour le texte et les liens dans le footer */
.footer p,
.footer-links a {
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
  color: #2B2E4A;
}

/* Style pour le texte du copyright */
.footer p {
  margin: 0;
}

/* Style pour la liste de liens dans le footer */
.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* Style pour les liens au survol */
.footer-links a:hover {
  color: #FFBD59;
}
