@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");


.navigationLinks {
    display: flex; /* Utilisation de flexbox pour placer les éléments côte à côte */
    gap: 1.6em; /* Ajustez la valeur selon l'espace souhaité entre les liens */
}
  
.main{
    background-color: #f3f3f3; /* Vous pouvez ajuster la couleur en fonction de vos préférences */
    height: 500px;
}

.titleFirstName {
    font-style: italic; /* Rend le texte en italique */
    margin-left: 1em; /* Décale le texte vers la droite */
    padding-top: 1em;
    color: #2B2E4A;
    font-family: Lato, sans-serif;
    font-size: 1em;
}

.Title {
    text-align: center; /* Centre le texte horizontalement dans la div */
    display: flex;
    flex-direction: column; /* Affiche les éléments en colonne */
    justify-content: flex-start; /* Aligne les éléments en haut de la div */
    max-width: 15em;
    margin: 1em auto 0; /* Marge supérieure négative pour remonter davantage la div */
    max-height: 6em;
    
  }

  h1{
    font-size: 1.6em;
    font-family: Lato, sans-serif;
    color: #2B2E4A;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;

}

.subtitle2{
    font-weight: 400;
}

.BoxDepense {
    display: flex;
    align-items: center; /* Centre verticalement */
    height: 60vh; /* Hauteur de la fenêtre visible */
    flex-direction: column;
    padding-top: 2em;
}
.BoxtitleDepensePrevisionnelle,
.BoxtitleDepenseReelle,
.BudgetRestant {
    display: flex;
    flex-direction: column; /* Une colonne pour les petits écrans */
    margin: 0 auto 10px; /* Marge extérieure avec espace en bas pour les séparer */
    padding: 10px; /* Espacement intérieur pour un espace à l'intérieur des div */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Ombre pour plus de séparation visuelle */
    width: 12em;
    height: 3em;
    border-radius: 8px;
    text-align: center;
  }

.BoxtitleDepensePrevisionnelle{
    background-color:#6C6D81 ;
}
  
.BoxtitleDepenseReelle{
    background-color:#CFB36A ;
}

.BudgetRestant{
    background-color: #B6C597;
}

  
.titleDepense,
.totalMonthlyBudget,
.totalExpenseAmount,
.remainingBudget{
    color:#f3f3f3 ;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    font-size: 1em;
}

.buttonCreateBudget {
  text-align: center;
  z-index: 999;
  position: absolute;
  top: 40em;
  margin-left: 1em;
}

.buttonAddBudget {
  display: flex;
  background-color: #2B2E4A;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  flex-direction: row;
}
  
  .iconPlus {
    margin-right: 10px;
    color: #FFBD59;
    font-size: 20px;
    display: flex;
  }
  
  .texteButton {
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

.buttonAddBudget:hover {
    transform: scale(1.1); /* Grossissement du bouton au survol */
  }


@media (min-width: 700px) {
    .Title {
        margin: -2em auto 0; /* Marge supérieure négative pour remonter davantage la div */
      }

    .BoxDepense{
        flex-direction: row;
        height: 20vh;
        margin: 0 auto
    }

    .main{
        height: 300px;
    }

    .buttonCreateBudget {
      top: 28em;
      }
}

@media (min-width: 1024px) {
    .BoxDepense{
        width: 63em;
        margin: 0 auto
    }

    .buttonCreateBudget {
        margin-left: 40px;
      }

}