@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* Image */
.imgFinance_tracker img {
    width: 100%;
    max-height: 100%; /* Pour s'assurer que l'image ne dépasse pas la hauteur de l'écran */
    opacity: 25%;
    position: relative; /* Ajoutez cette ligne pour définir le contexte de positionnement */
  }
  
  .imgFinance_tracker {
    position: relative;
    max-width: 100%; /* Assurez-vous que le conteneur de l'image ne dépasse pas la largeur de l'écran */
  }
  
/* Texte Title */
.text-overlay {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-family: Lato, sans-serif;
    text-align: center;
    width: 80%; /* Utilisez un pourcentage pour que le texte soit responsif */
    max-width: 800px; /* Limitez la largeur du texte pour de grands écrans */
    margin: 0 auto; /* Centrez le texte horizontalement */
}


.text-container {
    width: 100%; /* Ajustez la largeur selon vos besoins */
}

.texte_title {
    font-size: 6vw; /* La taille de police sera basée sur la largeur de la fenêtre d'affichage */
}

.blue-text {
    text-transform: uppercase;
    color: #2B2E4A;
    display: inline-block;
    vertical-align: middle;
    width: auto; /* Ajustez la largeur selon vos besoins */
}

.yellow-text {
    text-transform: uppercase;
    color: #FFBD59;
    
}

.blue-text, .yellow-text {
    display: inline-block;
    vertical-align: middle;
    width: auto; /* Ajustez la largeur selon vos besoins */
    margin-right: 2px; /* Pour ajouter un espace entre les deux éléments */
}

.blue-text, .yellow-text, .title {
    font-weight: bold;
}

.title {
    text-transform: uppercase;
    color: #FFBD59;

}
  
/* Texte subtitle */
.Subtitle{
    font-family: Lato, sans-serif ;
    font-size: 4vw;
    margin-top: 20px;
    line-height: 1.8; /* Ajustez cette valeur selon l'espace souhaité entre les lignes */
}

/* Button container*/

.container-button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 3em;
    padding-top: 4em;
    flex-direction: column;
}
/* Button blue */

.small-button-blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 40px;
    box-sizing: border-box;
}

.button-blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 30vw;
    height: 6vh;
    padding: 10px 16px;
    border-radius: 999px;
    box-sizing: border-box;
    background-color: rgba(43, 46, 74, 1);
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Ajoutez une transition pour l'effet d'agrandissement */
}

.button-blue:hover {
    transform: scale(1.1); /* Agrandit le bouton au survol */
}

.get {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5vw;
    line-height: 100%;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

/* Button yellow */

.small-button-yellow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 9em;
    height: 2em;
    box-sizing: border-box;
}

.button-yellow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 30vw;
    height: 6vh;
    padding: 10px 16px;
    border-radius: 999px;
    box-sizing: border-box;
    background-color: #FFBD59 ;
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Ajoutez une transition pour l'effet d'agrandissement */
}

.button-yellow:hover {
    transform: scale(1.1); /* Agrandit le bouton au survol */
}

.create-account {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5vw;
    line-height: 100%;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

/* LogoBox */
.container-logoBox{
    font-size: 8vw;
    color: #FFBD59;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding-top: 1.4em;
    box-sizing: border-box;    
}

.box-text {
    width: 60vw;
    height: 15vh;
    background-color: #6C6D81;
    display: flex;
    align-items: center;
    border-radius: 0.2em;
    overflow: hidden;
    justify-content: center;
}

.box-paragraphe {
    color:  white;
    font-family: Lato, sans-serif;
    font-size: 3.1vw;
    text-align: center;
    line-height: 1.8;
}

@media (min-width: 600px) {
    .container-button{
        gap: 5em;
        padding-top: 5em;
    }
}
  /* Media Queries pour les écrans plus larges */
  @media (min-width: 768px) {
    .blue-text,
    .yellow-text {
        margin-right: 3px; /* Espacement pour les écrans de largeur moyenne */
    }

    .texte_title {
        font-size: 2.9vw; /* La taille de police sera basée sur la largeur de la fenêtre d'affichage */
    }

    .Subtitle {
        font-size: 0.813em;
        margin-top: 17px;
        line-height: 1.8; /* Ajustez cette valeur selon l'espace souhaité entre les lignes */
    }

    .button-yellow {
        width: 134px;
    }

    .create-account {
        font-size: 12px;
    }

    .get {
        font-size: 12px;
    }

    .container-button {
        flex-direction: row;
        gap: 89px;
    }

    .container-logoBox {
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 2em;
        font-size: 5vw;
        padding-top:2em;
    }

    .box-text {
        width: 17vw; /* Ajustez la largeur en fonction de vos besoins */
        height: 11vh;
    }

    .box-paragraphe {
        font-size: 1.4vw;
    }
}

  
  @media (min-width: 1024px) {
        .blue-text, .yellow-text {
            margin-right: 5px; /* Espacement pour les écrans plus larges */
        }

        .texte_title {
            font: size 1.063em;; /* La taille de police sera basée sur la largeur de la fenêtre d'affichage */
        }

        .Subtitle{
            font-size: 1.2vw;
            margin-top: 17px;
            line-height: 1.8; /* Ajustez cette valeur selon l'espace souhaité entre les lignes */
        }

        .container-button{
            flex-direction: row;
        }

        .create-account {
            font-size: 15px;
        }
    
        .get {
            font-size: 15px;
            gap: 89px;    
        }

        .box-text {
            width: 20vw;
            height: 13vh;
        }

        .box-paragraphe{
            font-size: 1.3vw;
        }

        .container-logoBox{
            font-size: 3.2vw;

        }
        
  }

  @media (min-width: 1400px) {
    .container-logoBox{
        padding-top: 2em;
        gap: 3.2em;        
    }

    .box-text{
        width: 17vw;
        height: 17vh;
        
    }

    .box-paragraphe{
        font-size: 1.2vw;
    }
  }
