@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");


/* Styles pour le formulaire */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw; /* Ajustez la largeur selon vos besoins */
  height: 40vh;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed; /* Position fixe pour rester en haut */
  top: 20%; /* Aligner le formulaire en haut */
  left: 50%; /* Aligner le formulaire au centre horizontalement */
  transform: translateX(-50%); /* Centrer le formulaire horizontalement */
  z-index: 9999; /* Assurez-vous qu'il est au-dessus du reste du contenu */
  max-width: 800px; /* Remplacez 400px par la largeur maximale souhaitée */  
}
  /* Styles pour les éléments du formulaire */
  .form input {
    width: 77vw;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(43, 46, 74, 1);
    border-radius: 10px;
    height: 5vh;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    max-width: 600px; /* Hauteur maximale pour le bouton */

  }
  
  .form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition de couleur de fond en survol */
    max-height: 30px; /* Hauteur maximale pour le bouton */
    padding-top: 4em;
  }
  
  .form button:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
  }
  
  /* Styles pour les messages d'erreur */
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  /* Style pour le formulaire visible */
.login-form-container.visible {
  display: block;
}

/* Style pour le formulaire invisible */
.login-form-container {
  display: none;
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px; /* Facultatif : ajoutez un espace autour de l'icône */
  cursor: pointer;
  font-size: 1.8em;
  color:#2B2E4A; /* Changez la couleur ici */
}

.icon-close:hover{
  color:#FFBD59;
}

h3{
  color:#2B2E4A;
  font-family: Lato, sans-serif;
  margin-bottom: 1.6em;
}

.btnLogin{
  font-size: 1em;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color:white;
}

.button-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%; /* Utilisez 100% de la largeur de la div parente */
  max-width: 200px; /* Définissez une largeur maximale pour le bouton */
  height: 4.5vh;
  padding: 10px 16px;
  border-radius: 999px;
  box-sizing: border-box;
  background-color: #FFBD59;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin: 0 auto; /* Centre le bouton horizontalement */
}

.button-login:hover {
  transform: scale(1.1); /* Agrandit le bouton au survol */

}
